#navigatenow {
  font-family: sans-serif;
  color: #fcffbd;
}
#bruh {
  font-family: sans-serif;
  color: #fcffbd;
}
button {
  background-color: #4500ff;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
body {
  background: rgb(241,75,15);
background: linear-gradient(90deg, rgba(241,75,15,1) 0%, rgba(226,200,26,1) 51%, rgba(224,255,0,1) 100%);
}
#navigatebeta {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #ffffff;
  border: none;
  color: #00a7ff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 75%;
  position: sticky;
  transition: 0.3s;
  font-family: sfpro;
}
#navigatebeta:hover {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #cec8c8;
  border: none;
  color: #00a7ff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 100%;
  position: sticky;
  text-shadow: 0 0 7px #000000; /* Set the navbar to fixed position */
}
#navigatebeta:active {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #727272;
  border: none;
  color: #00a7ff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 100%;
  position: sticky;
  text-shadow: 0 0 15px #000000;
}